[data-accordion="element"].is-active > [data-accordion="content"] {
  max-height: 100%;
}

[data-accordion="parent"].no-transition [data-accordion="content"] {
  transition: none;
}

[data-accordion="content"] {
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}

.accordion__title {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  padding: 18px 0;
  padding-right: 30px;
  cursor: pointer;
  margin: 0;

  &::after,
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 24px;
    height: 1px;
    background-color: $color-gray;
  }

  &::before {
    transform: rotate(-90deg);
  }
}

.accordion__wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.accordion__element {
  border-top: 1px solid $color-light;
  border-bottom: 1px solid $color-light;
}

.accordion__element.is-active .accordion__title::before {
  transform: translateY(-50%) rotate(-0deg);
}
