.review-content__date {
  display: block;
  margin-bottom: 15px;

  @media (min-width: $screen-lg) {
  }
}

.review-content__rating {
  margin-bottom: 16px;

  @media (min-width: $screen-lg) {
    margin-bottom: 30px;
  }
}

.review-content__desc {
  p {
    margin: 0;
  }

  @media (min-width: $screen-lg) {
  }
}
