.modal-basket {
  @media (min-width: $screen-lg) {
    max-width: 600px;
  }
}

.modal-basket .total-amount__goods {
  max-height: 361px;
  overflow: auto;
  border-top: 1px solid $color-light-gray;
}

.modal-basket .card-product__img {
  max-width: 109px;
}
