- const pageOrderInfoNav = (elem) => elem.href.indexOf('page');

mixin info-nav
  aside.info-nav&attributes(attributes)
    h2.info-nav__title Клиентам
    ul.info-nav__list
      each item in pages
        if(!pageOrderInfoNav(item) && item.href !== 'page-info.html')
          li.info-nav__item
            a.info-nav__link(href=item.href class=`${item.href === pageCurrent ? "active" : ""}`)=item.text
