mixin search-form
  form.search-form&attributes(attributes)(action="#")
    button.search-form__btn
      svg(width="17", height="17")
        use(href="img/symbols.svg#icon-search")
    +field-text({
      mods: '',
      val: '',
      attrs: {
        placeholder: 'Поиск',
        "data-autocomplite": "",
      }
    }).search-form__field

