mixin not-found
  section.not-found
    h1.not-found__title Страница не найдена
    p.not-found__text Вероятнее всего, вы перешли на несуществующую страницу
    a.btn.btn--dark.not-found__btn(href=pages.index.href) Вернуться
