include ./mock
//- TODO Main подумать

mixin page-catalog({title, hiddenBlock})
  .page-catalog
    header.page-catalog__header.d-none.d-lg-block
      +breadcrumbs.page-catalog__breadcrumbs
        +breadcrumbs-item(pages.index.text, pages.index.href)
        +breadcrumbs-item(title)
      h1.page-catalog__title= title
    if(!hiddenBlock)
      .page-catalog__filter
        .page-catalog__grid
          +filter-bar({
            text: 'Фильтры',
            counter: '1200 товаров',
            iconFilter: true,
          })
          .page-catalog__filter-row.d-none.d-lg-flex
            .page-catalog__filter-col
              +filter-bar({
                text: 'Размер',
                counter: '7',
                iconArrow: true,
              })
              +filter-bar({
                text: 'Цвет',
                counter: '4',
                iconArrow: true,
              })
              +filter-bar({
                text: 'Цена',
                counter: '1',
                iconArrow: true,
              })
            .page-catalog__filter-col
              +filter-bar({
                text: 'Упорядочить',
                iconArrow: true,
              })
    .page-catalog__grid
      if(!hiddenBlock)
        aside.page-catalog__sidebar.d-none.d-lg-block
          +accordion({
            list: accordionFilter,
            attrs: {
              class: 'is-active'
            }
          }).filter-accordion
      .page-catalog__catalog(class=`${hiddenBlock ? "page-catalog__catalog--col-span" : ''} `)
        .page-catalog__gap.grid-tpl-2.grid-tpl-lg-3.grid-tpl-xl-4
          block
    if(!hiddenBlock)
      +show-more

