include ../blocks/shared/config/utils
include ../blocks/shared/config/pages

include ../blocks/shared/ui/logo/logo.pug
include ../blocks/shared/ui/accordion/accordion.pug
include ../blocks/shared/ui/link-icon/link-icon.pug
include ../blocks/shared/ui/form/form.pug
include ../blocks/shared/ui/field-text/field-text.pug
include ../blocks/shared/ui/field-radio/field-radio.pug
include ../blocks/shared/ui/field-checkbox/field-checkbox.pug
include ../blocks/shared/ui/field-select/field-select.pug
include ../blocks/shared/ui/dropdown/dropdown.pug
include ../blocks/shared/ui/burger/burger.pug
include ../blocks/shared/ui/content-block/content-block.pug
include ../blocks/shared/ui/breadcrumbs/breadcrumbs.pug
include ../blocks/shared/ui/progress/progress.pug
include ../blocks/shared/ui/price/price.pug
include ../blocks/shared/ui/table/table.pug
include ../blocks/shared/ui/final-rating/final-rating.pug
include ../blocks/shared/ui/pagination/pagination.pug

include ../blocks/entities/main-nav/main-nav
include ../blocks/entities/page-back/page-back
include ../blocks/entities/card-info/card-info
include ../blocks/entities/search-form/search-form
include ../blocks/entities/promo-blocks/promo-blocks
include ../blocks/entities/preview/preview
include ../blocks/entities/category-preview/category-preview
include ../blocks/entities/socials/socials
include ../blocks/entities/payment/payment
include ../blocks/entities/subscribe/subscribe
include ../blocks/entities/info-nav/info-nav.pug
include ../blocks/entities/contact/contact.pug
include ../blocks/entities/fashion/fashion.pug
include ../blocks/entities/show-more/show-more.pug
include ../blocks/entities/filter-bar/filter-bar.pug
include ../blocks/entities/product-gallery/product-gallery.pug
include ../blocks/entities/benefits/benefits.pug
include ../blocks/entities/block-radio/block-radio.pug
include ../blocks/entities/card-product/card-product.pug
include ../blocks/entities/review-content/review-content.pug
include ../blocks/entities/rating-product/rating-product.pug

include ../blocks/widgets/reviews-author/reviews-author.pug
include ../blocks/widgets/page-header/page-header.pug
include ../blocks/widgets/page-footer/page-footer.pug
include ../blocks/widgets/block-products/block-products.pug
include ../blocks/widgets/not-found/not-found.pug
include ../blocks/widgets/product-content/product-content.pug
include ../blocks/widgets/total-amount/total-amount.pug

include ../blocks/pages/page-catalog/page-catalog.pug
