-
  const footerNav = [
    {
      title: 'Покупателям',
      links: [
        "Частые вопросы",
        "Обмен и возврат",
        "Оплата",
        "Доставка и самовывоз",
        "Сертификаты",
        "Образы от стилиста"
      ]
    },
    {
      title: 'О компании',
      links: [
        "Магазины",
        "Вакансии",
        "Реквизиты",
        "Карта сайта",
      ]
    },
    {
      title: 'Полезное',
      links: [
        "Правила ухода",
        "Акции",
        "Контакты",
        "Политика конфиденциальности",
      ]
    }
  ]
