-
  const footerNav = [
    {
      title: 'Покупателям',
      links: [
        pages.pageFAQ,
        pages.pageRulesCare,
        pages.pagePayment,
        pages.pageDelivery,
        pages.catalogCert,
        pages.pageLooksFromStylist
      ]
    },
    {
      title: 'О компании',
      links: [
        pages.pageShop,
        pages.pageVacancy,
      ]
    },
    {
      title: 'Полезное',
      links: [
        pages.pageRulesCare,
        pages.catalogSale,
        pages.pageContact,
        pages.pagePrivacyPolicy,
      ]
    }
  ]
