.modal-one-click {
  @media (min-width: $screen-lg) {
    max-width: 460px;
  }
}

.modal-one-click__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;


  .field-text {
    width: 100%;
  }
}

.modal-one-click__btn {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 2.86px;
  text-transform: uppercase;
  padding: 17px 15px;
}

.modal-one-click__btn-wrap {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
}
