-
  const pages = {
    404: {
      text: '404',
      href: '404.html',
    },
    index: {
      text: 'Главная',
      href: 'index.html'
    },
    catalog: {
      text: 'Каталог',
      href: 'catalog.html'
    },
    catalogFavorite: {
      text: 'Избранное',
      href: 'catalog-favorite.html'
    },
    catalogSale: {
      text: 'Акции',
      href: 'catalog-sale.html'
    },
    catalogCert: {
      text: 'Сертификаты',
      href: 'catalog-cert.html'
    },
    catalogSingle: {
      text: 'Кружевное платье',
      href: 'catalog-single.html'
    },
    catalogSingleShoes: {
      text: 'Сабо из натуральной кожи Lera Nena',
      href: 'catalog-single-shoes.html'
    },
    basketCheckout: {
      text: 'Оформление заказа',
      href: 'basket-checkout.html',
    },
    pageInfo: {
      text: 'Информация',
      href: 'page-info.html',
    },
    pagePrivacyPolicy: {
      text: 'Политика конфиденциальности',
      href: 'page-privacy-policy.html',
    },
    pageContact: {
      text: 'Контакты',
      href: 'page-contact.html',
      icon: 'contact'
    },
    pageRulesCare: {
      text: 'Правила ухода',
      href: 'page-rules-of-care.html'
    },
    pageShop: {
      text: 'Магазины',
      href: 'page-shops.html',
      icon: 'shop'
    },
    pageVacancy: {
      text: 'Вакансии',
      href: 'page-vacancy.html'
    },
    pageLooksFromStylist: {
      text: 'Образы от стилиста',
      href: 'page-looks-from-stylist.html'
    },
    pageServicePodeli: {
      text: 'Сервис "Подели"',
      href: 'page-service-podeli.html'
    },
    pageDelivery: {
      text: 'Доставка и самовывоз',
      href: 'page-delivery.html',
      icon: 'delivery'
    },
    pagePayment: {
      text: 'Оплата',
      href: 'page-payment.html',
      icon: 'payment',
    },
    pageReturnPolicy: {
      text: 'Обмен и возврат',
      href: 'page-return-policy.html',
      icon: 'return'
    },
    pageFAQ: {
      text: 'Частые вопросы',
      href: 'page-faq.html',
      icon: 'faq'
    }
  }
