-
  const mediaSize = {
    lg: 1024,
  }

  const numberPhone = {
    href: 'tel:89372878888',
    text: '+7 (937) 287-88-88'
  }

  const contactEmail = {
    href: 'mailto:mailto:ittsi@bk.ru',
    text: 'ittsi@bk.ru'
  }

  const formFilelds = {
    name: {
      helpText: 'Чтобы мы знали, как к вам обращаться',
      attrs: {
        placeholder: 'Имя',
        type: "text",
      }
    },
    surname: {
      helpText: 'Нужно для транспортной накладной',
      attrs: {
        placeholder: 'Фамилия',
        type: 'text',
      }
    },
    phone: {
      title: 'Телефон',
      helpText: 'Пришлем сообщение о подтверждении заказа',
      attrs: {
        placeholder: 'Телефон',
        type: 'tel',
        pattern: `/(\\+7|8)[\\s(]*\\d{3}[)\\s][\\s]\\d{3}[\\s]\\d{2}[\\s]\\d{2}/i`,
        "data-pristine-pattern-message": " "
      }
    },
    email: {
      title: 'Email',
      helpText: 'Пришлем подтверждение заказа',
      attrs: {
        placeholder: 'Ваш email',
        type: "email",
        "data-pristine-email-message": " "
      }
    },
    password: {
      title: 'Пароль',
      attrs: {
        id: 'psw',
        type: "password",
        placeholder: 'Не менее 8-ми символов',
        minlength: 8,
        "data-pristine-minlength-message": ' '
      }
    },
    reatryPassword: {
      title: 'Подтвердите пароль',
      attrs: {
        type: "password",
        placeholder: 'Подтвердите пароль',
        "data-pristine-equals": '#psw',
        "data-pristine-equals-message": ' '
      }
    },
  }
