-
  const mediaSize = {
    lg: 1024,
  }

  const numberPhone = {
    href: 'tel:89372878888',
    text: '+7 (937) 287-88-88'
  }

  const contactEmail = {
    href: 'mailto:mailto:hello@toptop.ru',
    text: 'hello@toptop.ru'
  }

  const formFilelds = {
    name: {
      title: 'Имя',
      attrs: {
        placeholder: 'Ваше имя',
        type: "text",
      }
    },
    phone: {
      title: 'Телефон',
      attrs: {
        placeholder: 'Телефон',
        type: 'tel',
        pattern: `/(\\+7|8)[\\s(]*\\d{3}[)\\s][\\s]\\d{3}[\\s]\\d{2}[\\s]\\d{2}/i`,
        "data-pristine-pattern-message": " "
      }
    },
    email: {
      title: 'Email',
      attrs: {
        placeholder: 'Ваш email',
        type: "email",
        "data-pristine-email-message": " "
      }
    },
  }
