-
  const socials = [
    {
      icon: 'tg',
      href: 'https://t.me/tg_ittsi',
      width: 24,
      height: 22
    },
    {
      icon: 'vk',
      href: 'https://vk.me/ittsi',
      width: 36,
      height: 20
    },
    {
      icon: 'wp',
      href: 'https://api.whatsapp.com/send?phone=79372878888',
      width: 26,
      height: 25
    },
  ]

mixin socials
  ul.socials&attributes(attributes)
    each item in socials
      li.socials__item
        a.socials__link(href=item.href, target="_blank")
          svg(width=item.width height=item.height)
            use(href=`img/symbols.svg#icon-${item.icon}`)
