mixin modal-menu
  +modal({
    id: 'modal-menu',
    tplHeader: `
      <a class="logo" href="index.html">
        <img src="img/content/logo.svg" alt="Logo" width="104" height="30">
      </a>
    `
  }).modal-menu
    +accordion({
      list: accordionFilter,
    }).filter-accordion
    a.modal-menu__user-link(data-fancybox="" href="#modal-entry") Вход/Регистрация
    +contact
