-
  const radioList = [
    {
      title: 'S',
      attrs: {
        name: 'btn-size',
        checked: true,
      }
    },
    {
      title: 'M',
      attrs: {
        name: 'btn-size',
      }
    },
    {
      title: 'L',
      attrs: {
        name: 'btn-size',
      }
    },
    {
      title: 'XL',
      attrs: {
        name: 'btn-size',
      }
    },
    {
      title: 'XXL',
      attrs: {
        name: 'btn-size',
      }
    },
    {
      title: '3XL',
      attrs: {
        name: 'btn-size',
      }
    },
  ]
