-
  const radioListFilter = [
    {
      title: 'S <span>12</span>',
      attrs: {
        name: 'btn-size',
      }
    },
    {
      title: 'M <span>16</span>',
      attrs: {
        name: 'btn-size',
      }
    },
    {
      title: 'L <span>128</span>',
      attrs: {
        name: 'btn-size',
      }
    },
    {
      title: 'XL <span>1267</span>',
      attrs: {
        name: 'btn-size',
      }
    },
    {
      title: 'XXL <span>2</span>',
      attrs: {
        name: 'btn-size',
      }
    },
    {
      title: '3XL <span>128</span>',
      attrs: {
        name: 'btn-size',
      }
    },
  ]

  const radioListSort = [
    {
      title: 'Популярные',
      attrs: {
        name: 'btn-size',
        checked: true,
      }
    },
    {
      title: 'Новинки',
      attrs: {
        name: 'btn-size',
      }
    },
    {
      title: 'Цена по убыванию',
      attrs: {
        name: 'btn-size',
      }
    },
    {
      title: 'Цена по возрастанию',
      attrs: {
        name: 'btn-size',
      }
    }
  ]

  const checkboxListColors = [
    {
      title: 'Кориченевый',
      counter: '123',
      style: 'background-color: rgb(171, 124, 73)'
    },
    {
      title: 'Бежевый',
      counter: '2',
      style: 'background-color: rgb(201, 173, 147)'
    },
    {
      title: 'Белый',
      counter: '1',
      style: 'background-color: rgb(255, 255, 255)'
    },
    {
      title: 'Бордо',
      counter: '43',
      style: 'background-color: rgb(111, 44, 79)'
    },
    {
      title: 'Зеленый',
      counter: '89',
      style: 'background-color: rgb(53, 135, 73)'
    },
    {
      title: 'Светло-желтый',
      counter: '123',
      style: 'background-color: rgb(255, 255, 159);'
    }

  ]

