.checkbox-color {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 12px;

  @media (min-width: $screen-lg) {
    gap: 12px;
    font-size: 14px;
  }
}

.checkbox-color__input {
  position: absolute;
  top: 0.7em;
  left: 0;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  opacity: 0;
}

.checkbox-color__input:checked ~ .checkbox-color__box::after {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.5L4.924 8 11 1' stroke='%23000'/%3E%3C/svg%3E") 50%/50%
}

.checkbox-color__box {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border: 1px solid #ddd;

  @media (min-width: $screen-lg) {
    width: 36px;
    height: 36px;
  }
}

.checkbox-color__text {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;

  @media (min-width: $screen-lg) {
    gap: 6px;
  }

}

.checkbox-color__counter {
  display: inline-block;
  color: #999;
  font-weight: 300;
  font-style: normal;
}
