.card-product {
  position: relative;
  display: flex;
  gap: 12px;
  padding: 8px 0;
  border-bottom: 1px solid $color-light;
}

.card-product__img {
  max-width: 68px;
  width: 100%;
  flex-shrink: 0;
}

.card-product__title {
  margin: 0;

  a {
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}

.card-product__desc {
  display: flex;
  flex-direction: column;
  color: $color-gray;
  gap: 10px;
  font-size: 12px;
  line-height: 1.25;

  p {
    margin: 0;
  }
}

.card-product__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card-product__price {
  justify-content: flex-end;
}

.card-product__row-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-product__row {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  @media (min-width: $screen-lg) {
    flex-direction: row;
  }
}

.card-product__delete {
  border: none;
  font-size: 0;
  height: 32px;
  width: 32px;
  padding: 0;
  flex-shrink: 0;
  border-radius: 6px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='14' viewBox='0 0 10 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.70613 3.71744H0.0111084V2.29168C0.0111084 1.81996 0.394821 1.43622 0.866571 1.43622H8.85061C9.32233 1.43622 9.70607 1.81993 9.70607 2.29168L9.70613 3.71744ZM0.581435 3.14714H9.1358V2.29168C9.1358 2.13447 9.00796 2.00652 8.85064 2.00652H0.866598C0.709284 2.00652 0.581435 2.13446 0.581435 2.29168V3.14714Z' fill='black'/%3E%3Cpath d='M8.28033 13.9828H1.43695C0.965221 13.9828 0.581482 13.5991 0.581482 13.1273V3.14716H9.13585V13.1273C9.13585 13.599 8.75213 13.9827 8.28038 13.9827L8.28033 13.9828ZM1.15178 3.71746V13.1273C1.15178 13.2846 1.27962 13.4125 1.43695 13.4125H8.28033C8.43764 13.4125 8.56549 13.2846 8.56549 13.1273V3.71746H1.15178Z' fill='black'/%3E%3Cpath d='M6.56958 2.00662H3.14789V0.866022C3.14789 0.394298 3.5316 0.0105591 4.00335 0.0105591H5.71425C6.18597 0.0105591 6.56971 0.394272 6.56971 0.866022L6.56958 2.00662ZM3.71795 1.43632H5.99904V0.866022C5.99904 0.708812 5.87121 0.580859 5.71388 0.580859H4.00298C3.84567 0.580859 3.71782 0.708798 3.71782 0.866022L3.71795 1.43632Z' fill='black'/%3E%3Cpath d='M6.56959 11.9867C6.41196 11.9867 6.28442 11.8591 6.28442 11.7015V5.42817C6.28442 5.27065 6.41195 5.14301 6.56959 5.14301C6.72721 5.14301 6.85475 5.27063 6.85475 5.42817V11.7015C6.85465 11.8591 6.72712 11.9867 6.56959 11.9867Z' fill='black'/%3E%3Cpath d='M4.85859 11.9867C4.70096 11.9867 4.57343 11.8591 4.57343 11.7015V5.42817C4.57343 5.27065 4.70095 5.14301 4.85859 5.14301C5.01622 5.14301 5.14375 5.27063 5.14375 5.42817V11.7015C5.14375 11.8591 5.01622 11.9867 4.85859 11.9867Z' fill='black'/%3E%3Cpath d='M3.14765 11.9867C2.99003 11.9867 2.86249 11.8591 2.86249 11.7015L2.86259 5.42817C2.86259 5.27065 2.99012 5.14301 3.14775 5.14301C3.30539 5.14301 3.43292 5.27063 3.43292 5.42817V11.7015C3.43281 11.8591 3.30529 11.9867 3.14768 11.9867H3.14765Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-light;

  cursor: pointer;

  align-self: flex-end;

  @media (min-width: $screen-lg) {
    height: auto;
    align-self: initial;
  }
}
