extends pug/layout.pug

block meta
  title= pages.catalogSingle.text
block header
  +page-header()
block content
  -
    const radioList = [
      {
        title: 'S',
        attrs: {
          name: 'btn-size',
          checked: true,
        }
      },
      {
        title: 'M',
        attrs: {
          name: 'btn-size',
        }
      },
      {
        title: 'L',
        attrs: {
          name: 'btn-size',
        }
      },
      {
        title: 'XL',
        attrs: {
          name: 'btn-size',
        }
      },
      {
        title: 'XXL',
        attrs: {
          name: 'btn-size',
        }
      },
      {
        title: '3XL',
        attrs: {
          name: 'btn-size',
        }
      },
    ]

  .catalog-single
    header.catalog-single__header.d-none.d-lg-block
      +breadcrumbs
        +breadcrumbs-item(pages.index.text, pages.index.href)
        +breadcrumbs-item(pages.catalog.text, pages.catalog.href)
        +breadcrumbs-item('Женская одежда', "#")
        +breadcrumbs-item(pages.catalogSingle.text)
    .catalog-single__stack
      .catalog-single__grid
        .catalog-single__content
          +product-gallery({
            title: pages.catalogSingle.text,
            img: 2
          }).catalog-single__product-gallery
        aside.catalog-single__sidebar
          +product-content({
            title: pages.catalogSingle.text,
            list: radioList,
            modalSizeTable: '#modal-size-table'
          })
      .catalog-single__grid
        +accordionParent(data-single="").catalog-single__accordion
          +accordionItem({
            title: 'Описание'
          }).is-active
            p Состав: 100% хлопок
            p Цвет: Серый
            p Стиль: Повседневный
          +accordionItem({
            title: 'Доставка и оплата'
          })
            h3 Доставка
            p Мы доставляем наши товары в любой населенный пункт России, доступный для курьерской службой СДЕК до вашей квартиры, офиса или в ближайший к вам пункт выдачи.
            h3 Оплата
            p Оплата производится при оформлении заказа на сайте, получении заказа при самовывозе, или при получении заказа в выбранном пункте выдачи СДЭК.
          +accordionItem({
            title: 'Обмен и возврат'
          })
            p Вы можете вернуть не подошедший товар в течение 7 календарных дней с момента получения заказа.
            p Возврат возможен, если вещи сохранили товарный вид, то есть упаковку, пломбы, ярлыки, а также потребительские свойства и документ, подтверждающий покупку — товарный или кассовый чек. Возврату не подлежат товары надлежащего качества, согласно Постановлению Правительства РФ от 19 января 1998 г. N 55.
            p Возврат товара осуществляется в случае брака.
            p Вопросы по обмену/возврату решает менеджер в WhatsApp
            p
              a(href=pages.pageRulesCare.href) Подробнее о возврате и обмене.
          +accordionItem({
            title: 'Отзывы'
          })
            +reviews-author
        +contact("Нужна помощь? Мы рядом:")
      +block-products({
        title: 'Вас может заинтересовать',
      })
        .block-products__list.grid-tpl-lg-5
          - for(let i = 1; i < 6; i++)
            +preview({
              img: i,
              hasColors: i === 2,
              priceSale: i !== 2 ? "" : '5 768',
              title: "Платье из 100% хлопка",
              btnFavoriteActive: i === 2,
              btnFavoriteCount: i === 2 ? 124 : 123
            }).block-products__preview
block footer
  +page-footer()
