extends pug/layout.pug

block meta
  title= pages.catalogCert.text
block header
  +page-header()
block content
  +page-catalog({
    title: pages.catalogCert.text,
    hiddenBlock: true
  })
    each item, i in ["5 000", "10 000", "15 000", "20 000"]
      +preview({
        img: 11,
        priceSale: null,
        priceCurrent: item,
        title: `Подарочная карта на ${item} ₽`,
        btnFavoriteActive: i === 2,
        btnFavoriteCount: i === 2 ? 124 : 123,
        hasCert: true
      })
block footer
  +page-footer()
