extends pug/layout.pug

block meta
  title Главная
block header
  +page-header()
block content
  +promo-blocks([1, 2, 3])
  +block-products({
    title: 'Бестселлеры',
    subTitle: 'Главные хиты сезона',
    btnText: 'Смотреть хиты одежды',
  })
    .block-products__list.grid-tpl-lg-5
      - for(let i = 1; i < 6; i++)
        +preview({
          img: i,
          hasColors: i === 2,
          priceSale: i !== 2 ? "" : '5 768',
          title: "Платье из 100% хлопка",
          btnFavoriteActive: i === 2,
          btnFavoriteCount: i === 2 ? 124 : 123
        }).block-products__preview
  +promo-blocks([4])
  +block-products({
    title: 'Популярные категории'
  })
    .block-products__list-category.grid-tpl-2.grid-tpl-md-3.grid-tpl-lg-6
      each item, i in ["Платья", "Рубашки", "Футболки", "Куртки", "Жакеты", "Джемперы"]
        +category-preview({
          img: i + 1,
          title: item
        })
  +block-products({
    title: 'Хиты обуви',
    subTitle: 'Ваши любимые модели',
    btnText: 'Смотреть хиты одежды',
  })
    .block-products__list.grid-tpl-lg-5
      - for(let i = 6; i < 11; i++)
        +preview({
          img: i,
          hasColors: i === 9,
          priceSale: i !== 9 ? "" : '5 768',
          title: "Обувь из натуральной кожи Lera Nena",
          btnFavoriteActive: i === 9,
          btnFavoriteCount: i === 9 ? 124 : 123
        }).block-products__preview
block footer
  +page-footer()
