extends pug/layout.pug

block meta
  title Список страниц
block header
  +page-header()
block content
  style.
    fieldset {
      border: 1px solid #000;
      margin-bottom: 20px;
      border-radius: 5px;
    }

    main {
      padding-bottom: 40px;
    }

    fieldset li {
      margin: 10px 0;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
    }

  main
    fieldset
      ol
        each item in pages
          li
            a(href=item.href)= item.text
block footer
  +page-footer()
