extends pug/layout.pug

block var
  - const pageClassName = 'info-page'
  - const pageCurrent = pages.pageDelivery.href

block meta
  title= pages.pageDelivery.text
block header
  +page-header()
block content
  .info-page__grid
    +page-back
    +info-nav.d-none.d-lg-block
    .info-page__content
      +content-block('ПОЛУЧИТЕ ЗАКАЗ, ОФОРМЛЕННЫЙ В ITTSI, ЛЮБЫМ УДОБНЫМ СПОСОБОМ:')
        p #[strong САМОВЫВОЗ] Вы можете выбрать самовывоз из одного из магазинов ITTSI.
        p Адреса магазинов, доступных для самовывоза: #[br] -Уфа, ул.Проспект Октября 4 / 1(ЦТиР «Мир», 2 уровень, Южная галерея) #[br] -Уфа, ул.Рубежная 174(ТЦ «Мега»)
        p Срок хранения неоплаченного заказа — 1 день с момента получения смс-уведомления, что заказ ожидает в магазине. Заказ с товарами распродажи хранится 2 дня. Срок хранения оплаченного заказа составляет 7 дней.
        p #[strong ДОСТАВКА ПО УФЕ.] В случае доставки по городу Уфа осуществляется 100% предоплата заказа. Бесплатная доставка осуществляется курьером до двери. Для отдаленных районов (Дёма, Черниковка, ДОК, Нагаево и др.) доставка платная – 200 руб. Всю информацию по условиям доставки можно уточнить у нашего менеджера
          a(href='tel:+79063703227') +7 (906) 370-32-27.
        p #[strong ДОСТАВКА ПО РОССИИ КУРЬЕРСКОЙ СЛУЖБОЙ СDEK и BOXBERRY] Если в вашем городе отсутствуют наши магазины, вы можете забрать заказ в одном из пунктов Boxberry или CDEK в удобное для вас время.
        p #[strong СКОЛЬКО ВРЕМЕНИ ЗАЙМЕТ ДОСТАВКА?] Всё зависит от региона доставки. Минимальный срок доставки составляет 2-3 рабочих дня, максимальный – 10-12 рабочих дней. Вы всегда можете уточнить примерный срок доставки по вашему адресу, написав нам по телефону
          a(href='tel:+79063703227') +7 (906) 370-32-27.
        p #[strong КАК ОТСЛЕДИТЬ ПОСЫЛКУ] Как только ваш заказ будет передан курьерской службе, вы получите трек-номер для отслеживания его перемещений.
        p #[strong ПРИМЕРКА ПРИ ПОЛУЧЕНИИ] Вы можете воспользоваться опцией примерки перед получением покупки или частичным выкупом, если в качестве способа доставки вы выбрали курьерскую службу СДЕК или BOXBERRY. Тогда во время получения посылки у вас будет время для примерки изделия. Если примерка по Вашему адресу будет невозможна, мы свяжемся с Вами и предложим альтернативный способ доставки.
block footer
  +page-footer()
