extends pug/layout.pug

block var
  - const pageClassName = 'info-page'
  - const pageCurrent = pages.pageFAQ.href
block meta
  title= pages.pageFAQ.text
block header
  +page-header()
block content
  -
    const accordionList = [
      {
        title: 'Будет ли одежда линять, выцветать или краситься?',
        tplContent: `<p>Наша одежда отшивается на высокотехнологичном оборудовании с использованием качественных красителей и натуральных полотен. При правильном уходе (следуя рекомендациям на этикетке) одежда сохранит свой первоначальный вид.</p>`
      },
      {
        title: 'Не отклеится ли принт/термонаклейка? Не распустится ли нашивка?',
        tplContent: `<p>Мы используем только качественные материалы и технологии нанесения принтов и нашивок. При бережном уходе и стирке (следуя рекомендациям на этикетке) принт, термонаклейка или нашивка будут радовать вас долгое время.</p>`
      },
      {
        title: 'Почему на одежде из футера остаётся ворс?',
        tplContent: `<p>Для создания утепляющего слоя на изнаночной стороне футера используется начес - хлопок, обработанный специальным образом. После пары стирок ворс перестанет оставаться на одежде.</p>`
      },
      {
        title: 'Почему джинсы могут краситься?',
        tplContent: `<p>Это естественный процесс для любых джинсов, особенно из плотного денима. Рекомендуем стирать джинсы перед первой ноской, а также отдельно от светлых вещей.</p>`
      },
      {
        title: 'Какое качество тканей используется в ITTSI?',
        tplContent: `<p>Мы используем разные виды хлопковых тканей высокого качества: пенье, кулирная гладь, футер (двухнитка и трехнитка), интерлок, ойшо, велюр-эффект, peach-эффект, шелк-эффект, а также кашкорсе для манжетов. </p>`
      },
      {
        title: 'Какой размер обуви выбрать?',
        tplContent: `<p>Все модели обуви в ITTSI соответствуют стандартной размерной сетке. Вы можете ориентироваться на свой обычный размер обуви.</p>`
      },
      {
        title: 'Какие товары не подлежат возврату и обмену?',
        tplContent: `<p>Согласно Постановлению Правительства РФ №2463, не подлежат возврату и обмену следующие товары надлежащего качества: чулочно-носочные изделия, нижнее белье, трикотажные нательные изделия.</p>`
      },
      {
        title: 'Что делать, если я обнаружил брак?',
        tplContent: `<p>В случае обнаружения заводского брака, вы можете вернуть товар в течение гарантийного срока.</p>`
      }
    ]
  .info-page__grid
    +page-back
    +info-nav.d-none.d-lg-block
    .info-page__content
      +content-block('Частые вопросы')
        +accordion({
          list: accordionList,
          firstActive: true
        }).content-block__accordion
block footer
  +page-footer()
