extends pug/layout.pug

block var
  - const pageClassName = 'info-page'
  - const pageCurrent = pages.pagePayment.href

block meta
  title= pages.pagePayment.text
block header
  +page-header()
block content
  .info-page__grid
    +page-back
    +info-nav.d-none.d-lg-block
    .info-page__content
      +content-block('КАК ОПЛАТИТЬ ЗАКАЗ')
        p Оформляя заказ на нашем сайте, Вы можете выбрать наиболее удобный для Вас способ оплаты: #[br] - Оплатить онлайн на сайте при оформлении заказа #[br] - Оплатить заказ в пункте выдачи картой или наличными #[br] Будьте внимательны! Мы не принимаем оплату путём перевода на карту в процессе оформления заказа. На ряд акций может действовать только онлайн–оплата заказа на сайте. В связи с ограничениями банков оплатить заказ вы можете только картой российского банка.
        p #[strong МОЖНО ЛИ ОПЛАТИТЬ ЗАКАЗ ПРИ ПОЛУЧЕНИИ] Да. Если вы хотите оплатить заказ при получении курьерской доставкой или в одном из пунктов выдачи, Вам необходимо выбрать опцию «Доставка до пункта выдачи». Для заказов со способом получения «Самовывоз из магазина» также возможна оплата при получении. #[br] В случае доставки по городу Уфа идет 100% предоплата заказа.
        p #[strong СКОЛЬКО ЗАКАЗОВ С ОПЛАТОЙ ПРИ ПОЛУЧЕНИИ МОЖНО ОФОРМИТЬ] По правилам интернет-магазина вы можете оформить один заказ с оплатой при получении. Все последующие заказы необходимо оплатить онлайн.
        p #[strong СКОЛЬКО ПОЗИЦИЙ В ЗАКАЗЕ МОЖЕТ БЫТЬ ДЛЯ ОПЛАТЫ ПРИ ПОЛУЧЕНИИ] Оплата при получении доступна, если в заказе не более 5 позиций включительно.
block footer
  +page-footer()
