extends pug/layout.pug

block var
  - const pageClassName = 'info-page'
  - const pageCurrent = pages.pageRulesCare.href

block meta
  title= pages.pageRulesCare.text
block header
  +page-header()
block content
  .info-page__grid
    +page-back
    +info-nav.d-none.d-lg-block
    .info-page__content
      +content-block('Для того, чтобы вещь радовала дольше рекомендуем соблюдать простые правила ухода.')
        p В России действует специальная маркировка, в которой указана основная информация по уходу за текстильными изделиями. Данная маркировка узаконена в документе ГОСТ 16958-71. Настоящий стандарт устанавливает условные графические обозначения и их значение для ухода за текстильными изделиями.
        p Каждое изделие имеет информационный ярлык с рекомендациями по уходу.
      +content-block('ОДЕЖДА')
        p Рекомендации по уходу за текстильными вещами.
        p 1.Для начала, ознакомьтесь с информацией на этикетке, чтобы узнать подходящие режимы по уходу.
        p 2.Соблюдайте рекомендованный температурный режим.
        p 3.Лучший способ отжима вещей — завернуть в полотенце и отжать.
        p 4.Если вы долго не носите вещь, лучше хранить ее в свернутом виде.
        p 5. Для стирки цветных вещей, особенно новых, рекомендуется использовать специальные средства для сохранения цвета.
        p 6.Стирка верхней одежды не рекомендована, лучше воспользоваться сухой чисткой (химчисткой).
        p Соблюдение этих рекомендаций поможет вам сохранить качество и внешний вид ваших текстильных изделий на долгое время.
      +content-block('ТРИКОТАЖНЫЕ ИЗДЕЛИЯ')
        p Стирать, соблюдая рекомендации на ярлыке.
        p Отжимать не выкручивая.
        p Чтобы вещь не деформировалась, сушить рекомендуется на горизонтальной поверхности в расправленном виде, при комнатной температуре.
      +content-block('ИЗДЕЛИЯ ИЗ ШЕРСТИ ')
        p Стирать, исключительно на руках при температуре до 30 градусов мягкими средствами.
        p При сушке мокрые вещи необходимо разложить на плоской горизонтальной поверхности и расправить.
      +content-block('ИЗДЕЛИЯ ИЗ ХЛОПКА ')
        p Стирать, соблюдая рекомендации на ярлыке. Рекомендуется ручная или деликатная стирка при температуре до 30 градусов.
        p Сушить можно в сушильной машине, но рекомендуем учесть риск сильной усадки.
        p Утюжить вещи рекомендуется утюгом с увлажнителем до 150 градусов.
      +content-block('ИЗДЕЛИЯ ИЗ ВИСКОЗЫ ИЛИ МОДАЛА ')
        p Стирать, соблюдая рекомендации на ярлыке. Рекомендуется особо бережная стирка.
        p Отжимать не выкручивая.
        p Утюжить изделия необходимо в соответствии с рекомендациями, указанными на ярлыке.
      +content-block('ИЗДЕЛИЯ С ДОБАВЛЕНИЕМ ЭЛАСТАНА ')
        p Важно ухаживать за изделиями с эластаном , исключительно, в соответствии с указаниями на ярлыке изделия.
      +content-block('ИЗДЕЛИЯ С ДОБАВЛЕНИЕМ СИНТЕПОНА')
        p Стирать, соблюдая рекомендации на ярлыке.
        p Возможна усадка после стирки.
        p Утюжить изделия необходимо в соответствии с рекомендациями, указанными на ярлыке.
      +content-block('ОБУВЬ ')
        p Чтобы ваша новая обувь радовала вас долго, рекомендуем соблюдать ряд простых правил. Рекомендации по уходу за обувью:
        p Подбирайте обувь в соответствии с вашим размером.
        p Прежде чем начать носить обувь, обработайте ее подходящим средством, которое поможет защитить ее от влаги, пыли и грязи.
        p Содержите обувь в чистоте и применяйте правильные средства, в соответствии с материалом.
        p Не надевайте и не снимайте обувь, наступая на задник. Пользуйтесь рожком.
        p Сушите обувь, исключительно, при комнатной температуре, вдали от отопительных приборов.
        p Не носите одну пару ежедневно, старайтесь менять обувь минимум раз в три дня.
        p Уделяйте внимание состоянию подошвы, набоек и фурнитуры. При необходимости сдавайте в реставрацию.
        p Храните обувь в чистом, сухом виде в коробках. Используйте специальные вставки для предотвращения деформации.
      +content-block('НАТУРАЛЬНЫЕ ВЕЛЮР, ЗАМША, НУБУК ')
        p Чистить креповой, резиновой или каучуковой щёткой, специальной пеной-очистителем.
        p Обрабатывать аэрозольной краской и водоотталкивающим спреем.
        p Рекомендуем не надевать обувь из велюра, замши или нубука в дождь и мокрый снег.
        p Не наносить жирный крем или силиконом.
      +content-block('ИСКУССТВЕННАЯ КОЖА И ЭКОКОЖА ')
        p Чистить мягкой тканью, влажной салфеткой для обуви, жидким мылом, пеной очистителем.
        p Обрабатывать водоотталкивающим спреем.
        p Обувь из искусственных ворсовых материалов нельзя обрабатывать средствами на основе силикона. На поверхности могут остаться жирные пятна.
      +content-block('ТЕКСТИЛЬ ')
        p Чистят влажной салфеткой для обуви, щёткой для текстиля, пеной-очистителем для текстиля и велюра.
        p Обрабатывать жидкостью- активатором для текстиля.
        p Щётка и чистящие средства подбираются в зависимости от вида ткани.


block footer
  +page-footer()
