extends pug/layout.pug

block var
  - const pageClassName = 'info-page'
  - const pageCurrent = pages.pageDelivery.href

block meta
  title= pages.pageDelivery.text
block header
  +page-header()
block content
  .info-page__grid
    +page-back
    +info-nav.d-none.d-lg-block
    .info-page__content
      +content-block('ПОЛУЧИТЕ ЗАКАЗ, ОФОРМЛЕННЫЙ В ITTSI, ЛЮБЫМ УДОБНЫМ СПОСОБОМ:')
        p Вы можете вернуть не подошедший товар в течение 7 календарных дней с момента получения заказа.
        p #[strong САМОВЫВОЗ В УФЕ.] Заберите Ваш заказ по адресу: ул. Проспект Октября, 4/1, ЦТиР «Мир», 2 уровень, Южная галерея тел.: +7 (906) 370-32-27, ПН – ВС с 10.00 до 22.00. Без предоплаты Ваш заказ будет храниться один день. Срок оплаченного заказа составляет 7 дней.
        p #[strong ДОСТАВКА ПО РОССИИ КУРЬЕРСКОЙ СЛУЖБОЙ СDEK и BOXBERRY.] Самовывоз из пункта выдачи или доставка курьером до двери.
        p #[strong КАК ОТСЛЕДИТЬ ПОСЫЛКУ] Как только ваш заказ будет передан курьерской службе, вы получите трек-номер для отслеживания его перемещений.
        p #[strong ПРИМЕРКА ПРИ ПОЛУЧЕНИИ] Вы можете воспользоваться опцией примерки перед получением покупки или частичным выкупом, если в качестве способа доставки вы выбрали курьерскую службу СДЕК или BOXBERRY. Тогда во время получения посылки у вас будет время для примерки изделия. Если примерка по Вашему адресу будет невозможна, мы свяжемся с Вами и предложим альтернативный способ доставки.
        p #[strong ЕСЛИ ПОСЛЕ ПРИМЕРКИ ВЕЩЬ НЕ ПОДОШЛА, МОЖНО ЛИ СРАЗУ ВЕРНУТЬ ЕЁ КУРЬЕРУ] Да. Если какое-либо изделие Вам не подошло, Вы можете сразу же вернуть его курьеру, не оплачивая его стоимость.
        p #[strong СРОКИ ДОСТАВКИ ОТ 2 - 14 РАБОЧИХ ДНЕЙ.] СРОКИ ДОСТАВКИ ОТ 2 - 14 РАБОЧИХ ДНЕЙ.
block footer
  +page-footer()
