extends pug/layout.pug

block var
  - const pageClassName = 'info-page'
  - const pageCurrent = pages.pageShop.href

block meta
  title= pages.pageShop.text
block header
  +page-header()
block content
  .info-page__grid
    +page-back
    +info-nav.d-none.d-lg-block
    .info-page__content
      +content-block('Уфа')
        p #[strong АДРЕС:] Уфа, проспект Октября 4/1,  ЦТиР «МИР», 2 УРОВЕНЬ, Южная галерея
        p #[strong ГРАФИК РАБОТЫ:] ПН - ВС  10:00 - 23:00
        p #[strong ТЕЛЕФОН:] #[a(href="tel:+7(906)370-32-27") +7 (906) 370-32-27]
block footer
  +page-footer()
