extends pug/layout.pug

block var
  - const pageClassName = 'info-page'
  - const pageCurrent = pages.pageServicePodeli.href

block meta
  title= pages.pageServicePodeli.text
block header
  +page-header()
block content
  .info-page__grid
    +page-back
    +info-nav.d-none.d-lg-block
    .info-page__content
      +content-block(pages.pageServicePodeli.text)
        p #[strong КАК МНЕ ОПЛАТИТЬ ЗАКАЗ «ПОДЕЛИ»?] Сервис «Подели» от Альфа-Банк — это один из способов оплатить заказ на сайте. Он отличается тем, что помогает вам разделить сумму покупки на четыре равных платежа без комиссии и дополнительных плат. Вы получите свой заказ сразу после оплаты первой части. Следить за оплатой заказа после его оформления вы сможете в приложении «Подели». Ещё подробнее о сервисе вы можете узнать на сайте сервиса. Чтобы оплатить заказ частями, выберите способ оплаты на сайте и сумма заказа разделится на четыре части:
          | #[br] - Первую вы оплатите при оформлении заказа (это 25% от всей суммы);
          | #[br] - Оставшиеся три будут списываться с вашей карты автоматически с интервалом в две недели.
          | #[br] Перед каждым платежом сервис пришлёт вам напоминание о дате списания.
        p #[strong ЕСТЬ ЛИ ОГРАНИЧЕНИЯ ДЛЯ ОПЛАТЫ «ПОДЕЛИ»?] Оплата частями возможна только для покупателей из России. Сумма заказа, который вы планируете оплатить частями, не может превышать 30 000 рублей, а количество активных заказов не может быть более двух единовременно. Совершить новый заказ с оплатой через сервис «Подели» возможно только после того, как хотя бы один из активных заказов будет завершен.
        p #[strong ЕСТЬ ЛИ КОМИССИЯ ПРИ ОПЛАТЕ ОНЛАЙН ИЛИ «ПОДЕЛИ»?] Нет. Сумма оплаты ни в коем случае не превысит сумму вашей покупки.
        p #[strong ГДЕ Я МОГУ ПРОВЕРИТЬ ГРАФИК ПЛАТЕЖЕЙ ПРИ ОПЛАТЕ «ПОДЕЛИ»?] График платежей будет доступе в приложении «Подели», а также в чате на сайте сервиса. Чтобы посмотреть информацию в приложении, скачайте его на мобильный телефон и зайдите по номеру, который вы указали при оформлении заказа.
block footer
  +page-footer()
