extends pug/layout.pug

block var
  - const pageClassName = 'info-page'

block meta
  title= pages.pageInfo.text
block header
  +page-header()
block content
  - const pageOrderCardsInfo = (elem) => elem.href.indexOf('page');

  .info-page__grid
    +info-nav
    .info-page__content.d-none.d-lg-block
      section.info-page__card-grid
        each item in pages
          if(!pageOrderInfoNav(item) && item.href !== 'page-info.html')
            +card-info(item.text, item.href)
block footer
  +page-footer()
