-
  const tableSize = [
    {
      subTitle: 'ПЛЕЧИ',
      text: 'От точки соединения плеча и шеи до самой крайней точки плеча.'
    },
    {
      subTitle: 'ОБХВАТ ГРУДИ',
      text: 'Измеряется по самым выступающим точкам.'
    },
    {
      subTitle: 'ОБХВАТ ТАЛИИ',
      text: 'Естественная линия талии измеряется в самом узком месте.'
    },
    {
      subTitle: 'ОБХВАТ БЕДЕР',
      text: 'Измеряется горизонтально полу по наиболее выступающим точкам ягодиц.'
    },
    {
      subTitle: 'ДЛИНА РУКИ',
      text: 'Измеряется от плечевого сустава до запястья.'
    },
    {
      subTitle: 'ДЛИНА ПО ВНУТРЕННЕМУ ШВУ',
      text: 'Это мерка внутренней стороны брючины, от основания ноги до предполагаемого низа брюк. Данную мерку можно измерить так: возьмите брюки, которые на вас хорошо сидят, разложите их на ровной поверхности и замерьте внутренний шов.'
    },
    {
      subTitle: 'ДЛИНА ПО ВНЕШНЕМУ ШВУ',
      text: 'Это мерка внешней стороны брючины, от верхнего края брюк до низа изделия. Данную мерку можно измерить так: возьмите брюки которые на вас хорошо сидят, с такой же посадкой на талии, как брюки, которые вы планируете купить. Расправьте, сложите вдвое и разложите на горизонтальной поверхности. Замер производится по внешнему шву изделия, включая ширину пояса.'
    },
  ]

mixin modal-size-table
  +modal({
    id: 'modal-size-table',
    title: 'таблица размеров'
  }).modal-size-table
    +size-table({
      title: "Как правильно себя обмерить",
      src: 'size-table-1.svg',
      list: tableSize
    })
