mixin modal-size-table-show
  +modal({
    id: 'modal-size-table-shoes',
    title: 'таблица размеров'
  }).modal-size-table
    +size-table({
      title: "Как правильно измерить стопу",
      src: 'size-table-2.svg',
      list: [
        {
          subTitle: 'Длина Стельки',
          text: 'Измерьте линейкой или сантиметром расстояние между крайними точками, от большого пальца до края пятки — это длина вашей стопы. Измерьте обе ноги и выберите большее значение.'
        },
        {
          subTitle: 'Ширина стельки',
          text: 'Измеряется в самом широком месте стопы.'
        }
      ]
    })
