-
  const review = [
    {
      list: [
        {
          label: "Преимущества:",
          text: 'Удобные, теплый оттенок, нестрашно сочетать с яркими вещами в гардеробе'
        },
        {
          label: "Недостатки:",
          text: 'Не имеет'
        },
        {
          label: "Комментарий:",
          text: 'Очень милая модель, дополняет любой образ своим неповторимым фасоном и материалом, отныне если я их надеваю считается хорошей приметой)'
        }
      ],
      name: 'Сергей',
      data: '18 июля 2024'
    },
    {
      list: [
        {
          label: "Преимущества:",
          text: 'Тренд, удобство, комфорт'
        },
        {
          label: "Недостатки:",
          text: 'Не выявлено недостатков'
        },
        {
          label: "Комментарий:",
          text: 'Аналогов нет, похожие только у двух брендов'
        }
      ],
      name: 'Андрей',
      data: '21 июня 2024'
    },
    {
      list: [
        {
          label: "Комментарий:",
          text: 'Потрясающее!!! Я за ним наблюдала второй год , благодаря отзывам и фото живым, решила заказать и не промахнулась, очень красивое, качество отличное, я в восторге'
        }
      ],
      name: 'Алина',
      data: '09 апреля 2024'
    },
    {
      list: [
        {
          label: "Комментарий:",
          text: 'Платье хорошее, качество супер. Швы аккуратные. Взяла по размерной сетке и оно полностью подошло под мою фигуру. Цвет очень нежный, вырезы добавляют изюминку'
        }
      ],
      name: 'Раиль',
      data: '02 апреля 2024'
    },
    {
      list: [
        {
          label: "Комментарий:",
          text: 'Заказала на лето, выбирала по размерной сетке, подошло идеально размер в размер. Очень понравился фасон, ткань тоже приятная, хоть и не натуральная. Много красивых и интересных деталей'
        }
      ],
      name: 'Алина',
      data: '14 марта 2024'
    },
  ]
