-
  const mainNav = [
    {
      mainItem: 'Женское',
      subItemColumns: [
        [
          {
            linkTitle: 'Джемперы, свитеры и толстовки',
            linkModified: 'main-nav__sub-link--head',
          },
          {
            linkTitle: 'Спортивные костюмы',
            linkModified: 'main-nav__sub-link--head',
          },
          {
            linkTitle: 'Брюки женские',
          },
          {
            linkTitle: 'Джинсы',
          },
          {
            linkTitle: 'Юбки',
          },
          {
            linkTitle: 'Нижнее белье',
          },
          {
            linkTitle: 'Топы, лосины и леггинсы',
          },
          {
            linkTitle: 'Платья и костюмы',
          },
          {
            linkTitle: 'Скидки',
          },
          {
            linkTitle: 'Все новинки',
            linkModified: 'main-nav__sub-link--dashed',
          },
        ],
        [
          {
            linkTitle: 'NEW',
            linkModified: 'main-nav__sub-link--head',
          },
          {
            linkTitle: 'Футболки',
            linkModified: 'main-nav__sub-link--head',
          }
        ],
      ]
    },
    {
      mainItem: 'Мужское',
      subItemColumns: [
        [
          {
            linkTitle: 'Джемперы, свитеры и толстовки',
            linkModified: 'main-nav__sub-link--head',
          },
          {
            linkTitle: 'Спортивные костюмы',
          },
          {
            linkTitle: 'Джинсы',
          },
          {
            linkTitle: 'Нижнее белье',
          },
          {
            linkTitle: 'Скидки',
          },
          {
            linkTitle: 'Все новинки',
            linkModified: 'main-nav__sub-link--dashed',
          },
        ],
        [
          {
            linkTitle: 'NEW',
            linkModified: 'main-nav__sub-link--head',
          },
          {
            linkTitle: 'Футболки',
            linkModified: 'main-nav__sub-link--head',
          }
        ],
      ]
    },
    {
      mainItem: 'Обувь',
      subItemColumns: [
        [
          {
            linkTitle: 'Кроссовки',
            linkModified: '',
          },
        ]
      ]
    },
    {
      mainItem: 'О проекте',
    },
    {
      mainItem: 'Отзывы',
    },
    {
      mainItem: 'Контакты',
    },
  ]
